.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px 20px;
  background-size: cover;
  height: 100vh;
}

.hero__contenu {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}

.hero h1 {
  margin: 0;
}

.hero__subtitle {
  font-size: 30px;
}

.hero__cta {
  display: inline-block;
  padding: 10px 20px;
  background: orange;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

.hero__cta:hover {
  background: #005177;
}

.hero__social-icons {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.hero__social-icons .social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.hero__social-icons .social-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}