.menu-principal-container {
  //nav
  .menu {
    //ul
    display: flex;
    list-style-type: none;
    gap: 10px;
    .menu-item {
      //li

      a {
        display: block;
        padding: 3px;
        text-decoration: none;

        &:hover {
            background-color: #005177;
            color: lemonchiffon;
        }
      }
    }

    .current-menu-item {
      a {
        background-color: rgb(145, 67, 163);
        font-weight: bold;
        color: orange;
      }
    }
  }
}
